@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");
/* Utility Classes */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.w35 {
  width: 35vw;
}
.w25 {
  width: 25vw;
}
.w15 {
  width: 15vw;
}
.w10 {
  width: 10vw;
}
.last {
    white-space: nowrap;
    overflow: hidden;
    direction: rtl;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  display: grid;
  place-items: center;
  font-family: "League Spartan", system-ui, sans-serif;
  font-size: 1.1rem;
  line-height: 1.2;
  color: #ddd;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #1e1e1e;
}
.version-container {
  position: absolute;
  display: flex;
  width: 98vw;
  top: 2%;
  justify-content: end;
}
ul {
  list-style: none;
}

.main{
  max-width: 75rem;
  padding: 3em 1.5em;
}
.heading-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: none;
    padding: none;
}
.network-img1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.25em;
    border: none;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
}
.network-img2 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 2.25em;
    border-radius: 50%;
    transform: scale(1.05);
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 1;
}
.network-img1:hover ~ .network-img2{
    opacity: 0.6;
    filter:blur(25px);
}
.network-img {
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
    transition: 0.3s ease-in-out all;
    padding: 5px;
    cursor: pointer;
}
.network-img:hover{
    transform: scale(1.15);
    border: 1px solid #eceff133;
}
.pop-up-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    width: 100vw !important;
    height: 100vh !important;
    padding-block: 30px;
    background:#0000002a;
    z-index: 999;
}
.pop-up {
    border: #eceff133 1px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: #2b2b2b;
    position: fixed;
    min-width: 10%;
    font-size: 0.7em;
    transition: 0.3s all ease-in-out;
}
.close-popup {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    position: absolute;
    top: 5%;
    left: 92%;
}
.close-popup:hover{
    cursor: pointer;
    color: #a16e6e;
}

.main__heading {
  display: inline-block;
  font-weight: 600;
  font-size: 2.25em;
  text-align: center;
  color: #eceff1;
}

.cards {
  position: relative;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  min-width: 350px;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.card:nth-child(1) {
  --hue: 0;
  --saturation: 0%;
  --lightness: 100%;
}

/* .card:nth-child(2) {
  --hue: 291.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

.card:nth-child(3) {
  --hue: 338.69;
  --saturation: 100%;
  --lightness: 48.04%;
} */

.card__bullets {
  line-height: 1.4;
}

.card__bullets li::before {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

.card__heading {
  font-size: 1.05em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    15rem 15rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    15rem 15rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay) > .card {
  transition: 400ms background ease;
  will-change: background;
}

:not(.overlay) > .card:hover {
  --lightness: 95%;
  background: hsla(var(--hsl), 0.1);
}
.results {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  border: 1px solid #eceff133;
  border-radius: 15px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
 .card .search{
  cursor:pointer;
  color: white;
}
.loading {
  height: 128px;
}
.price-container {
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

.eth-price {
  font-size: 1rem;
  text-align: right;
  padding-right: 10px;
}

.balance-loader, .balance-loader:before, .balance-loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.2s infinite ease-in-out;
}
.balance-loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.balance-loader:before,
.balance-loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.balance-loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.balance-loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}
    

@keyframes load {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}
.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #1e1e1e; /* Blue */
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 1s infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.refresh-price {
    width: auto;
    height: auto;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: none;
}
.closed {
  display: none;
}
.show {
  display: block;
}
.table-headings{
  border-bottom: 1px solid #eceff133;
  width: 100%;
  display: grid;
  font-size: 18px;
  margin-bottom: 15px;
  padding-block: 10px;
  grid-template-columns:.8fr 1.8fr 6fr 3fr 4fr 1fr .2fr;
  text-align: center;
}
.table-body {
  border: 1px solid white;
  
  width: 100%;
  font-size: 16px;
  line-height: 30px;
}
.row {
  border-right: 1px solid #eceff133;
  line-height: 2.5rem;
  padding-inline: 10px;
  display: block;
  text-align: center;
}
a:any-link {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: under;
  color: #e0c1ff;
  cursor: pointer;
}
.view-moreBtn {
    background-color: white;
    color: #1e1e1e;
    font-size: 0.8rem;
    padding: 0.2rem;
    width: 4rem;
    height: 2rem;
    border: 1px white solid;
    outline: none;
    font-family: 'Trebuchet MS';
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    border-radius: 5px;
}
.view-moreBtn:hover{
  transform: scale(1.1);
  box-shadow: 5px 0px 15px 10px rgba(255, 255, 255, 0.1);
}
.view-moreBtn-label {
  color: #1e1e1e;
}
.view-moreBtn:focus{
  background-color: #1e1e1e;
  color: white;
  transform: scale(1.1);
  box-shadow: 5px 0px 15px 10px rgba(255, 255, 255, 0.1);
}
.view-moreBtn-label:focus {
  color: white;
}
tbody td {
  padding-inline: 11px;
  border-right: 1px solid #eceff133;
}
@media screen and (max-width: 480px) {
  .pop-up-container {
    width: 100%;
    height: 100%;
  }
}